/ai-summary-445022-4e743ff2e31b.json
/.env
/venv
*.pyc
__pycache__/
/Local/airflow_project/logs/scheduler/**
/Local/airflow_project/logs/scheduler/
/Local/airflow_project/logs
/Local/airflow_project/logs/dag_id=reddit_pipeline
/Local/airflow_project/logs/dag_processor_manager
/Local/mlflow/mlruns/233879633592249049
/Local/mlflow/mlruns/351400483092008225
/Local/scripts/logs
/Local/mlflow/588566752846532363
/Local/mlflow/710757065042514562

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log
logs/
/Local/scripts/__pycache__/ingest_preprocess.cpython-311.pyc

# Context folder (completely ignored)
/Context/
Context/
Context/**/*
/Local/.env